# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
cmd/cb-event-forwarder/cb-event-forwarder

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

.idea/
.vscode/
scratch/

# these are automatically created during "make test"
tests/go_output
tests/gold_output
tests/leef_output
tests/output.txt

# Compiled python module files
*.pyc

VERSION
dist/
build/

*.pb.go
.DS_Store
/test_output
