[Unit]
Description=Cb Event Forwarder

[Service]
ExecStart= /usr/share/cb/integrations/event-forwarder/cb-event-forwarder /etc/cb/integrations/cb-event-forwarder/cb-event-forwarder.conf

[Install]
WantedBy=multi-user.target